/**
 * Lenis用のグローバルCSS
 * lenis 1.1.6用のCSS
 * 参考: https://github.com/darkroomengineering/lenis
 */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

@supports (overflow: clip) {
  .lenis.lenis-stopped {
    overflow: clip;
  }
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
